In [24]:
import pandas as pd



file_name = "EURUSDM1.csv"

df = pd.read_csv("EURUSDM1.csv", header=None, encoding='utf-16')


print(df.head(10))
print("--------------------information")
print(df.info())
print("--------------------describe")
print(df.describe())

                  0        1        2        3        4  5  6
0  2023.01.02 07:02  1.07016  1.07017  1.07016  1.07017  2  0
1  2023.01.02 07:05  1.07015  1.07015  1.07015  1.07015  1  0
2  2023.01.02 07:06  1.07014  1.07014  1.07014  1.07014  1  0
3  2023.01.02 07:08  1.06986  1.06986  1.06956  1.06956  6  0
4  2023.01.02 07:10  1.06961  1.06961  1.06961  1.06961  1  0
5  2023.01.02 07:11  1.06963  1.06963  1.06909  1.06919  8  0
6  2023.01.02 07:14  1.06972  1.06972  1.06972  1.06972  1  0
7  2023.01.02 07:15  1.06969  1.06969  1.06969  1.06969  1  0
8  2023.01.02 07:17  1.06970  1.06970  1.06970  1.06970  1  0
9  2023.01.02 07:20  1.06976  1.06976  1.06976  1.06976  1  0
--------------------information
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1049190 entries, 0 to 1049189
Data columns (total 7 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   0       1049190 non-null  object
 1   1       1049190 non-null  float64
 2   2       1049190 non-null  float64
 3   3       1049190 non-null  float64
 4   4       1049190 non-null  float64
 5   5       1049190 non-null  int64
 6   6       1049190 non-null  int64
dtypes: float64(4), int64(2), object(1)
memory usage: 56.0+ MB
None
--------------------describe
                  1             2             3             4             5  \
count  1.049190e+06  1.049190e+06  1.049190e+06  1.049190e+06  1.049190e+06
mean   1.093799e+00  1.093875e+00  1.093723e+00  1.093800e+00  4.742763e+01
std    3.615148e-02  3.615516e-02  3.614749e-02  3.615145e-02  5.504228e+01
min    1.017920e+00  1.018730e+00  1.017720e+00  1.017950e+00  1.000000e+00
25%    1.072060e+00  1.072140e+00  1.071990e+00  1.072060e+00  1.700000e+01
50%    1.086450e+00  1.086520e+00  1.086380e+00  1.086450e+00  3.300000e+01
75%    1.105620e+00  1.105710e+00  1.105530e+00  1.105620e+00  5.800000e+01
max    1.191150e+00  1.191850e+00  1.191020e+00  1.191110e+00  2.184000e+03

               6
count  1049190.0
mean         0.0
std          0.0
min          0.0
25%          0.0
50%          0.0
75%          0.0
max          0.0

In [25]:
df = df.iloc[:, :-1]

In [26]:
df.columns = ['DateTime', 'Open', 'High', 'Low', 'Close', 'Volume']

df['DateTime'] = pd.to_datetime(df['DateTime'], format='%Y.%m.%d %H:%M')

df.to_csv("EURUSDM1_clean.csv", index=False)

print(df.head())

             DateTime     Open     High      Low    Close  Volume
0 2023-01-02 07:02:00  1.07016  1.07017  1.07016  1.07017       2
1 2023-01-02 07:05:00  1.07015  1.07015  1.07015  1.07015       1
2 2023-01-02 07:06:00  1.07014  1.07014  1.07014  1.07014       1
3 2023-01-02 07:08:00  1.06986  1.06986  1.06956  1.06956       6
4 2023-01-02 07:10:00  1.06961  1.06961  1.06961  1.06961       1

In [27]:
print(df.tail())

                   DateTime     Open     High      Low    Close  Volume
1049185 2025-10-27 20:37:00  1.16353  1.16363  1.16353  1.16363      21
1049186 2025-10-27 20:38:00  1.16364  1.16371  1.16363  1.16370      22
1049187 2025-10-27 20:39:00  1.16371  1.16376  1.16365  1.16372      19
1049188 2025-10-27 20:40:00  1.16374  1.16380  1.16368  1.16375      19
1049189 2025-10-27 20:41:00  1.16378  1.16378  1.16370  1.16371      10

In [28]:
num_duplicates = df.duplicated().sum()
print(f"duplicated: {num_duplicates}")

duplicated: 0

In [29]:
print(df.isnull().sum())

DateTime    0
Open        0
High        0
Low         0
Close       0
Volume      0
dtype: int64

In [30]:
df = df.sort_values('DateTime')  
df = df.reset_index(drop=True)

In [31]:
timeframes = {
    '1min': '1T',
    '5min': '5T',
    '15min': '15T',
    '30min': '30T',
    '1h': '1H',
    '4h': '4H',
    '1d': '1D'
}

In [33]:
for name, rule in timeframes.items():
    df_resampled = df.resample(rule, on='DateTime').agg({
        'Open':'first',
        'High':'max',
        'Low':'min',
        'Close':'last',
        'Volume':'sum'
    })
    df_resampled = df_resampled.dropna()
    df_resampled = df_resampled.reset_index()
    df_resampled.to_csv(f"EURUSDM1_{name}.csv", index=False)
    print(f"time frame saved {name} in EURUSDM1_{name}.csv")

time frame saved 1min in EURUSDM1_1min.csv
time frame saved 5min in EURUSDM1_5min.csv
time frame saved 15min in EURUSDM1_15min.csv
time frame saved 30min in EURUSDM1_30min.csv
time frame saved 1h in EURUSDM1_1h.csv
time frame saved 4h in EURUSDM1_4h.csv
time frame saved 1d in EURUSDM1_1d.csv